<!DOCTYPE html>
{% extends 'index.html' %}
{% load widget_tweaks %}
{% load static %}

<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title></title>
</head>
<script src="{% static 'js\jquery-3.3.1.slim.min.js' %}"></script>
<script src="{% static 'js\bootstrap.bundle.min.js' %}" ></script>
<link rel="stylesheet" href="{% static 'bootstrap\bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'bootstrap\miner.css' %}">

<style media="screen">
.custom-color{
  background-color: white;
}
</style>
<body>
  {% block content %}
  <div class="py-5 mt-5">
    <div class="container border  col-md-4 offset-md-4">
      <div class="login-form  ">
        <form class="" method="post">
          {% csrf_token %}
          <center><img src="{% static 'images\key.png' %}" class="rounded-circle" alt="" width="140" height="140"></center>
          <h1 class="h3 mb-3 font-weight-bold text-center">Password Change</h1>
          <h5 class="text-danger text-center">{{error}}</h5>

          <div class="form-group">
            {% render_field form.old_password class="form-control" placeholder="Old Password" %}
          </div>
          <ul>
            <li>Your new password must contain at least 8 characters.</li>
            <li>Your new password can't be entirely numeric.</li>
          </ul>
          <div class="form-group">
            {% render_field form.new_password1 class="form-control" placeholder="New Password" %}
          </div>
          <div class="form-group">
            {% render_field form.new_password2 class="form-control" placeholder="Confirm New Password" %}
          </div>
          <button class="btn btn-lg btn-primary btn-block" type="submit">Change Password</button>
        </form>
        <br>
      </div>
    </div>
  </div>
  {%endblock%}
</body>
</html>
